<div class="row" style="margin-bottom: 6rem">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12" style="margin-bottom: 1rem">
          <button
            class="btn btn-success"
            type="submit"
            style="margin-right: 1rem"
            [disabled]="!form.valid"
          >
            Save
          </button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            *ngIf="recipe?.imagePath || imagePath.value?.length > 0"
            class="img-responsive"
            [src]="recipe?.imagePath || imagePath.value"
            [alt]="recipe?.name"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredient of controls; let i = index"
            [formGroupName]="i"
            style="margin-bottom: 1rem"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-success"
            (click)="onAddIngredient()"
          >
            Add Ingredient
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteAllIngredients()"
          >
            Delete All Ingredients
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
